* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    margin: 20px;
}

/*===========================
Header
===========================*/
nav {
    background: black;
    color: #f1c40f;
    font-family: 'Abril Fatface', cursive;
    padding: 45px;
    width: 100%;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li a {
    color: #f1c40f;
    font-size: 2.5em;
}

nav ul li a:hover {
    color: #f39c12;
    text-decoration: none;
}

#searchbox form {
    height: 33px;
}

#searchbox [type="search"] {
    border: none;
    color: black;
    font-family: Roboto, sans-serif;
    height: 100%;
    margin-right: -5px;
}

#searchbox [type="submit"] {
    background: #f1c40f;
    border: none;
    color: black;
    height: 100%;
    padding: 8px;
}



/*===========================
Movie Detail Page
===========================*/
#flexbox {
    display: flex;
    flex-flow: row nowrap;
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    justify-content: space-around;
    margin: 50px auto;
    width: 50%;
}

#imageSection img, #imageSection p {
    margin-bottom: 30px;
}

#imageSection {
    margin-right: 40px;
}

/* margin added to individual elements */
#movieInfo h2, #movieInfo h3, #synopsis, #actors, #path {
    margin-bottom: 20px;
}

#movieInfo h2 {
    font-size: 3em;
}

#movieInfo a:hover {
    text-decoration: none;
}

#genre {
    font-size: 1.4em;
    font-weight: bold;
}

/* spans */
.spantrait {
    color: darkred;
    font-weight: bold;
}



/*===========================
Movie List Page
===========================*/
#flexboxCat {
    margin: 50px auto;
    width: 350px;
}

#flexboxCat img {
    width: 100%;
    height: auto;
}

#movieInfoCat h3 {
    font-size: 1.3em;
}

#movieInfoCat p {
    font-size: 1.1em;
}

/* headline and paragraph below image*/
#movieInfoCat h3, #movieInfoCat p {
    margin: 20px 0;
}

/* buttons */
#buttonsCat button {
    background: black;
    border: none;
    padding: 10px;
}

#buttonsCat button a {
    color: #f1c40f;
    font-weight: bold;
    text-decoration: none;
}
