* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    margin: 20px;
}

/*===========================
Header
===========================*/
nav {
    background: black;
    color: #f1c40f;
    font-family: 'Abril Fatface', cursive;
    padding: 45px;
    width: 100%;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li a {
    color: #f1c40f;
    font-size: 2.5em;
}

nav ul li a:hover {
    color: #f39c12;
    text-decoration: none;
}

#searchbox form {
    height: 33px;
}

[type="search"] {
    border: none;
    color: black;
    font-family: Roboto, sans-serif;
    height: 100%;
    margin-right: -5px;
}

[type="submit"] {
    background: #f1c40f;
    border: none;
    color: black;
    height: 100%;
    padding: 8px;
}



/*===========================
Movie Detail Page
===========================*/
#flexbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#imageSection {
    margin-right: 20px;
}


/*===========================
Movie List Page
===========================*/
